.circle {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: #262e38;
}

div {
  margin-top: 17px;
}

h1 {
  margin: 32px;
  margin-top: 30px;
}

#rating-header {
  margin-bottom: 15px;
}

#star-image {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#star {
  width: 48px;
  height: 48px;
  position: relative;
  margin: 32px;
  margin-bottom: 30px;
}

#submit-button {
  background: var(--orange);
  border-radius: 22.5px;
  width: 341px;
  height: 45px;
  margin: 32px;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 2px;
  color: var(--white);
  line-height: 40px;
}
#submit-button:hover {
  background: var(--white);
  color: var(--orange);
  cursor: pointer;
}

.number:focus {
  background: var(--light-grey);
  color: var(--white);
}
.number:hover {
  background: var(--orange);
  color: var(--white);
}
#five-circles {
  width: 341px;
  height: 51px;

  color: var(--light-grey);

  display: inline-flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 39px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.number {
  line-height: 51px;
  font-weight: 700;
  color: var(--medium-grey);
}
